* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}


a{
    color: teal;
    text-decoration: none;
    
}


.header{
    display: flex;
    background-color:#817cff;
    align-items: center;
    justify-content: space-between;
    padding: .8rem .5rem;

}


.logo{
    width:5rem;
}
nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.btn{
    border: 1px #87f366 solid;
    padding: 1rem;
    border-radius: 50px;
    background-color: #87f366;
    .home{
        width: 2rem;
        justify-content: center;
    }
    .abt{
        width: 2.1rem;
        justify-content: center;
    }
    .exp{
        width: 2.1rem;
        justify-content: center;
    }
    .art{
        width: 2.1rem;
        justify-content: center;
    }
    .find{
        width: 2.1rem;
        justify-content: center;
    }
    &.active {
        background-color: rgb(67, 97, 250);


        & p{
            color: black;
        }
    }
}



body{
    background: #231e5c;
}

.backdrop{
    display: flex;
    align-items: center;
    .top{
        position: absolute;
        width: 65rem;
        z-index: -1;
        transform: translate( 0, 70rem);
        display: flow-root;
    }

}
.namecard{
    display: flex;
    align-items: center;
    .name{
        position: absolute;
        width: 35rem;
        z-index: -1;
        transform: translate(45rem, 18rem);
        display: flow-root;
    }

}

.content-container1{
        padding: 1rem;
        display: center;
        align-items: center;
        border: 6px #60f1b6 solid;
        border-radius: 20px;;
        background-color: #817cff;
        padding: 1rem;
        width: 70dvw;
        margin: auto;
        z-index: 1;
        transform: translate(10rem, 40rem);
        .octobowl{
            padding: 1rem;
            background-color: #231e5c;
            border-radius: 20px;
            width: 17rem;
            .octo{
                width: 15rem;
            }
        }
}