* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}


a{
    color: teal;
    text-decoration: none;
    
}


.header{
    display: flex;
    background-color:#817cff;
    align-items: center;
    justify-content: space-between;
    padding: .8rem .5rem;

}


.logo{
    width:5rem;
}
nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.btn{
    border: 1px #87f366 solid;
    padding: 1rem;
    border-radius: 50px;
    background-color: #87f366;
    .home{
        width: 2rem;
        justify-content: center;
    }
    .abt{
        width: 2.1rem;
        justify-content: center;
    }
    .art{
        width: 2.1rem;
        justify-content: center;
    }
    .find{
        width: 2.1rem;
        justify-content: center;
    }
    &.active {
        background-color: rgb(67, 97, 250);


        & p{
            color: black;
        }
    }
}



body{
    background: #231e5c;
}

.backdrop{
    display: flex;
    align-items: center;
    .top{
        position: absolute;
        width: 65rem;
        z-index: -1;
        transform: translate( 0, 70rem);
        display: flow-root;
    }

}
.namecard{
    display: flex;
    align-items: center;
    .name{
        position: absolute;
        width: 35rem;
        z-index: -1;
        transform: translate(45rem, 18rem);
        display: flow-root;
    }

}

.content-container1{
        padding: 1rem;
        display: center;
        align-items: center;
        border: 6px #60f1b6 solid;
        border-radius: 20px;;
        background-color: #817cff;
        padding: 1rem;
        width: 70dvw;
        height: 50dvh;
        margin: auto;
        z-index: 1;
        transform: translate(10rem, 40rem);
        .abt{
            position: absolute;
            display: flow-root;
            transform: translate( 23rem, 0rem);
            .star{
                width: 2.5rem;
            }
            .starm{
                width: 2.5rem;
            }
            h1{
                text-decoration-line: underline;
                text-align: center;
                float: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: #231e5c;
            }

        }
        .abtm{
            position: absolute;
            display: flow-root;
            transform: translate( 18rem, 4rem);
            width: 46rem;
            h2{
                text-align: left;
                float: center;
                font-size: 1.3rem;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: #231e5c;
            }
        }
        .educ{
            position: absolute;
            transform: translate( 26rem, 14rem);
            h3{
                text-decoration-line: underline;
                font-size: 1.5rem;
                text-align: center;
                float: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: #231e5c;
            }
        }
        .schoo{
            position: absolute;
            transform: translate( 18rem, 16rem);
            width: 46rem;
            h4{
                text-align: left;
                float: center;
                font-size: 1.3rem;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: #231e5c;
            }
        }
        .octobowl{
            transform: translate( 0, 1rem);
            padding: 1rem;
            background-color: #231e5c;
            border-radius: 60px;
            width: 17rem;
            .octo{
                width: 15rem;
            }
        }
}

.content-container2{
    position: absolute;
    padding: 1rem;
    display: center;
    align-items: center;
    border: 10px white solid;
    border-radius: 20px;;
    background-color: #231e5c;
    padding: 1rem;
    width: 40dvw;
    height: 96dvh;
    margin: auto;
    z-index: 1;
    transform: translate(50rem, 50rem);
    .skill{
        padding: 1rem;
        display: center;
        align-items: center;
        border-radius: 20px;
        background-color: #87f366 ;
        width: 19dvw;
        transform: translate(8rem, 0rem);
        h5{
            text-align: center;
            font-size: 1.5rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #231e5c;
        }
    }
    .canvas{
        display: flex;
        width: 10rem;
    }
    .eye{
        display: flex;
        width: 10rem;
        align-items: center;
        float: inline-end;

    }
    .digi{
        display: flex;
        width: 13rem;
        align-items:flex-end;
        transform: translate( -10rem, 10rem);
    }
    h6{
        text-align: right;
        float: inline-end;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( -7rem, 4rem);
    }
    h7{
        float: inline-start;
        font-size: 1.9rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( 9rem, -1rem);
    }
    h8{
        float: inline-start;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( -7rem, 3rem);
    }
    h9{
        float: inline-start;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( 9rem, 5rem);
    }
    h10{
        float: inline-start;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( 12rem, -2rem);
    }
    h11{
        float: inline-end;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( -5rem, 2rem);
    }
    h12{
        float: inline-end;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #87f366;
        transform: translate( -5rem, 3rem);
    }
}

.content-container3{
    position: absolute;
    padding: 1rem;
    display: flex;
    float: left;
    align-items: center;
    border: 10px #817cff solid;
    border-radius: 50px;;
    background-color: #87f366;
    padding: 1rem;
    width: 20dvw;
    height: 13dvh;
    margin: auto;
    z-index: 1;
    transform: translate( 21rem, 52rem);
    h13{
        text-align: center;
        display: flex;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #231e5c;
    }
}

.prof1{
    position: absolute;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    float: left;
    align-items: center;
    border: 10px #817cff solid;
    border-radius: 50px;;
    background-color: #87f366;
    padding: 1rem;
    width: 29dvw;
    height: 45dvh;
    margin: auto;
    z-index: 1;
    transform: translate( 17rem, 58rem);
    h14{
        transform: translate( 10rem, -7rem);
        float: center;
        text-align: center;
        text-decoration-line: underline;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #231e5c;
    }
    .acr{
        display: flow-root;
        position: absolute;
        width: 7rem;
        justify-content: flex-start;

    }
    .ibis{
        display: flow-root;
        position: absolute;
        width: 7rem;
        justify-content: center;
        border-radius: 10px;
        transform: translate( 8rem, 0rem);
    }
    .pro{
        display: flow-root;
        position: absolute;
        width: 7rem;
        justify-content: right;
        border-radius: 10px;
        transform: translate( 17rem, 0rem);
    }
    h15{
        p{
            display: flow-root;
            position: absolute;
            transform: translate( -3rem, 4rem);
            float: left;
            text-align: left;
            font-size: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #231e5c;
        }

    }
}
.prof2  {
    position: absolute;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    float: left;
    align-items: center;
    border: 10px #817cff solid;
    border-radius: 50px;;
    background-color: #87f366;
    padding: 1rem;
    width: 29dvw;
    height: 45dvh;
    margin: auto;
    z-index: 1;
    transform: translate( 17rem, 78rem);
    h16{
        display: flow-root;
        position: absolute;
        transform: translate( 10rem, -7rem);
        float: center;
        text-align: center;
        text-decoration-line: underline;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #231e5c;
    }
    .ai{
        display: flow-root;
        position: absolute;
        width: 7rem;
        justify-content: center;
        border-radius: 10px;
        transform: translate( 3rem, 0rem);
    }
    .ps{
        display: flow-root;
        position: absolute;
        width: 7rem;
        justify-content: center;
        border-radius: 10px;
        transform: translate( 14rem, 0rem);
    }
    h17{
        p{
            display: flow-root;
            position: absolute;
            transform: translate( 0rem, 4rem);
            float: left;
            text-align: left;
            font-size: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #231e5c;
        }

    }
}

.backdrop2{
    position: absolute;
    display: flex;
    align-items: center;
    .bottom{
        position: absolute;
        width: 94.9rem;
        z-index: -1;
        transform: translate( 0rem, 145rem);
        display: flow-root;
    }
}

.expp{
    position: absolute;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    float: center;
    align-items: center;
    border: 7px #817cff solid;
    border-radius: 50px;;
    background-color: #231e5c;
    padding: 1rem;
    width: 29dvw;
    height: 10dvh;
    margin: auto;
    z-index: 1;
    transform: translate( 34rem, 102rem);
    h18{
        transform: translate( 7rem, 0rem);
        text-align: center;
        text-decoration-line: overline;
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }
}

.expm{
    position: absolute;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    float: center;
    align-items: center;
    border: 7px #817cff solid;
    border-radius: 50px;;
    background-color: #231e5c;
    padding: 1rem;
    width: 57dvw;
    height: 40dvh;
    margin: auto;
    z-index: 1;
    transform: translate( 20rem, 107rem);
    .bi{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 13dvw;
        height: 5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 1rem, -7rem);
        h19{
            p{
            text-decoration-line: underline;
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: 1.1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
 }
    .date{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 11dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 1rem, -4.8rem);
        h20{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: o.8rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .binfo{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 15dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 1rem, -2rem);
        h21{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: o.8rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .sold{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 13dvw;
        height: 3dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 17.3rem, -7.2rem);
        h22{
            text-decoration-line: underline;
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: 1.1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .soldate{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 13dvw;
        height: 3dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 17.3rem, -5rem);
        h23{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: o.8rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .solfo{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 15dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 17rem, -2rem);
        h24{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: o.8rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .gsis{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 20dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 33rem, -7.2rem);
        h25{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            text-decoration-line: underline;
            font-size: 1.1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .exhi{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 20dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 33rem, -2rem);
        h26{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            text-decoration-line: underline;
            font-size: 1.1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .exhate{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 20dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 33rem, 0.3rem);
        h27{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
    .exfo{
        position: absolute;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        float: left;
        align-items: left;
        border: 1px #231e5c solid;
        border-radius: 50px;;
        background-color: #231e5c;
        padding: 1rem;
        width: 20dvw;
        height: 0.5dvh;
        margin: auto;
        z-index: 1;
        transform: translate( 33rem, 2.4rem);
        h28{
            display: flow-root;
            position: absolute;
            float: left;
            text-align: left;
            font-size: 0.8rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
        }
    }
}

.expstuff{
    position: absolute;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 50px;;
    padding: 1rem;
    width: 63dvw;
    height: 40dvh;
    margin: auto;
    z-index: 1;
    transform: translate( 14rem, 125rem);
    .gt{
        width: 20rem;
        display: flex-start ;
    }
    .law{
        width: 20rem;
        display: flex-start ;
    }
    .tea{
        width: 20rem;
        display: flex-start ;
    }
}